<%# the underscore on the form means that it is a partial file meanung just a part of the page %>
<%# _form-new.html.erb and _form-edit.html.erb can be a single file if their forms are similar %>

<div class="form-container">
  <%# @task is a task instance with nil values coming from the task_controller#new %>
  <%# form_for and simple_form_for automatically sets the right request verb, in this case it is post %>
    
  <%# edit %>
  <%= simple_form_for task do |f| %>
    <%= f.input :title %>
    <%= f.input :details %>
    <%# @task.toggle_completed  - check values from model %>
    <%# as: :boolean            - makes the field a checkbox %>
    <% if task.new_record? %>
      <%= f.submit "Create Task", class: "btn btn-primary btn-block py-2" %>
    <% else %>
      <%= f.input :completed, label: task.toggle_completed, as: :boolean %>
      <%# the form's submit automatically knows to post to the task_controller#create method %>
      <%= f.submit "Update Task", class: "btn btn-primary btn-block py-2" %>
    <% end %>
  <% end %>
</div>
