<div class="page-container">
  <div class="headers-and-options d-flex align-items-center">
    <h1 class="headers">Edit Task: <%= @task.title %></h1>
    <%= link_to task_path, class: "btn btn-secondary task-btn" do %>
      <i class="far fa-list-alt"></i> View
    <% end %>
    <%# use any GET path that can provide an id, task_path or tasks_edit_path %>
    <%= link_to task_path(@task), method: :delete, data: { confirm: "Confirm deletion of task" }, class: "btn btn-danger task-btn" do %>
      <i class="far fa-trash-alt"></i> Delete
    <% end %>
  </div>

  <%# see partial files, the ones starting with _underscore %>
  <%= render 'form-create-or-edit', task: @task %>

  <%# link caption with fontawesome %>
  <%= link_to tasks_path, class: "btn btn-link p-0" do %>
    <i class="fas fa-undo"></i> Back to Task List
  <% end %>
</div>