<div class="page-container">
  <h1 class="headers">Edit Task: <%= @task.title %></h1>

  <div class="form-container">
  <%# @task is a task instance with nil values coming from the task_controller#new %>
  <%# form_for and simple_form_for automatically sets the right request verb, in this case it is post %>
    <%= simple_form_for @task do |f| %>
      <%= f.input :title %>
      <%= f.input :details %>
      <%# @task.toggle_completed  - check values from model %>
      <%# as: :boolean            - makes the field a checkbox %>
      <%= f.input :completed, label: @task.toggle_completed, as: :boolean %>
      <%# the form's submit automatically knows to post to the task_controller#create method %>
      <%= f.submit "Update Task", class: "btn btn-primary btn-block py-2" %>
    <% end %>
  </div>

  <%# link caption with fontawesome %>
  <%= link_to tasks_path, class: "btn btn-link p-0" do %>
    <i class="fas fa-undo"></i> Back to Task List
  <% end %>
</div>