<div class="page-container">
  <div class="headers-and-options d-flex align-items-center">
    <h1 class="headers">Task: <%= @task.title %></h1>
    <%= link_to tasks_edit_path(@task), class: "btn btn-secondary task-btn" do %>
      <i class="far fa-edit"></i> Edit
    <% end %>
    <%# use any GET path that can provide an id, task_path or tasks_edit_path %>
    <%= link_to task_path(@task), method: :delete, data: { confirm: "Confirm deletion of task" }, class: "btn btn-danger task-btn" do %>
      <i class="far fa-trash-alt"></i> Delete
    <% end %>
  </div>
  
  <div class="task-info-container">
    <h4 class="task-details"><%= @task.details %></h4>

    <p>
      <i class="<%= @task.checked_or_unchecked %> task-checkbox"></i>
      <%= @task.completed_or_not %>
    </p>
  </div>

  <div class="footer-actions d-flex ">
    <%# link caption with fontawesome %>
    <%= link_to tasks_new_path, class: "btn btn-link p-0" do %>
      <i class="fas fa-plus"></i> Add Task
    <% end %>
    <%= link_to tasks_path, class: "btn btn-link p-0" do %>
      <i class="fas fa-undo"></i> Back to Task List
    <% end %>
  </div>
</div>