<div class="page-container">
  <h1 class="headers">Task: <%= @task.title %></h1>
  
  <div class="task-info-container">
    <h4 class="task-details"><%= @task.details %></h4>
    
    <p>
      <i class="<%= @task.checked_or_unchecked %> task-checkbox"></i>
      <%= @task.completed_or_not %>
    </p>
  </div>

  <%# link caption with fontawesome %>
  <%= link_to tasks_path, class: "btn btn-link p-0" do %>
    <i class="fas fa-undo"></i> Back to Task List
  <% end %>
</div>